
.header {
    display: flex;
    justify-content: space-between;
    background-color:#1B34B3;
    padding: 5px;

    align-items: center;
    
}

.name{
    color: #FFD040;
}

.head-img{
    max-height:100px;

}

.wrapper{
    background-color: #4061FF;
    display: flex;
    justify-content: center;
    object-fit: contain;
    padding: 15px;
    min-height: 100vh;
}

.content{
    max-width: 960px;
    display: flex;

    
}

.left{
    flex: 1;
    margin-right: 20px;
    

}

.body-img{
    background-color:#FAEEC5;
    border: 1px solid;
    border-radius: 5px;
}

.right{
    padding: 5px;
    background-color:#FAEEC5;
    justify-content: center;

    flex: 3;
}

.font{
    font-family: 'Balsamiq Sans', cursive;
}

.des{

    background-color: #FAEEC5;
}

.body-font{
    font-family: "Times New Roman", Times, serif;
}

@media (max-width: 1000px){
    .content{

        display: block;
        
    }
    .left{
        margin-right: 0px;
        display: flex;
        justify-content: space-evenly;

    }
    .right{
        
        margin-top: 15px;
        
    }
/*
    .body-img{
        flex: 1;
    }
*/
    .des{
        padding: 5px;
        max-width: 30%;
        height: min-content;
        flex: 3;
    }

}

