
.header {
    display: flex;
    justify-content: space-between;
    background-color:red;
    padding: 5px;
   
    align-items: center;
}

.name{
    color: white;
}

.head-img{
    max-height:100px;

}

.wrapper{
    background-color:gold;
    display: flex;
    justify-content: center;
    border: black 5px solid;
    object-fit: contain;
    padding: 15px;
    min-height: 100vh;
}

.content{
    max-width: 960px;
    display: flex;
    border: blue 5px solid;
    
}

.left{
    flex: 1;
    margin-right: 20px;
    
    border: purple 5px solid;
}

.body-img{
    border: 1px solid;
    border-radius: 5px;
}

.right{
    background-color:wheat;
    justify-content: center;
    border: green 1px solid;
    flex: 3;
}

.font{
    font-family: 'Balsamiq Sans', cursive;
}

.des{
    background-color: wheat;
}

@media (max-width: 1000px){
    .wrapper{
        /*flex-direction: column;*/
        
    }
    .content{
        border: green 5px solid;
        display: block;
        
        /*flex-direction: column;*/

    }
    .left{
        margin-right: 0px;
        display: flex;
        justify-content: space-evenly;
        border: red 5px dotted;
    }
    .right{
        margin-top: 15px;
        border: 3px solid;
    }

    .body-img{
        max-width: 30%;
        max-height: 30%;
        object-fit: contain;
    }

    .des{
        padding: 5px;
        max-width: 35%;
        height: min-content;
    }

}

